body{
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1587223962930-cb7f31384c19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-size: 10rem;
}

#cocktail-header h1 {
    font-family: "Lucida handwriting", cursive;
    text-align: center;
}

.search-container h2 {
    font-family: "Lucida handwriting", cursive;
}

.cocktail-card {
    text-align: center;
    color: aliceblue;
    border: grey solid 3px;
    padding: 4rem;
    width: 20rem;
    height: 25rem;
    display: inline-table;
    margin: 1rem 1rem;
    box-shadow: 3px 4px #f7f4f4
}

.cocktail-img {
    justify-self: center;
    height: 5rem;
    width: auto;
}

.ingredients-title {
    text-align: justify;
}

.cocktail-ingredients{
    text-align: justify;
}

.cocktail-instructions {
    text-align: justify;
}

.c-container {
    text-align: center;
    color: #f7f4f4;
    background-color: black;
    margin: 10rem;
    margin-top: 0.5rem; 
}

.search-container{
    background-color: blanchedalmond;
    text-align: center;
}

#cocktail-header{
    background-color: blanchedalmond;
    text-align: center;
}