body{
    background-color: black;
}
.cocktail-card {
    text-align: center;
    color: aliceblue;
    border: grey solid 3px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-table;
    margin: 1rem 1rem;
    box-shadow: 3px 4px #f7f4f4
}

.cocktail-img {
    justify-self: center;
    height: 3rem;
    width: auto;
}

.c-container {
    text-align: center;
    color: #f7f4f4;
    background-color: black;
    margin: 1rem; 
}

.search-container{
    background-color: blanchedalmond;
    text-align: center;
}

#cocktail-header{
    background-color: blanchedalmond;
    text-align: center;
}